In [2]:
import mlxtend
import numpy as np
import pandas as pd

data = np.array([
                 ['휴지','물티슈','샴푸'],
                 ['수세미','물티슈','비누'],
                 ['휴지','수세미','물티슈','비누'],
                 ['수세미','비누']
])

df_data = pd.DataFrame(data)
df_data

from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit(data).transform(data)

df = pd.DataFrame(te_array, columns=te.columns_)

df

<ipython-input-2-0eeea572440a>:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

     물티슈     비누     샴푸    수세미     휴지
0   True  False   True  False   True
1   True   True  False   True  False
2   True   True  False   True   True
3  False   True  False   True  False

In [3]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (물티슈)
1     0.50            (휴지)
2     0.75           (수세미)
3     0.75            (비누)
4     0.50       (비누, 물티슈)
5     0.50      (수세미, 물티슈)
6     0.50  (비누, 수세미, 물티슈)
7     0.50       (물티슈, 휴지)
8     0.75       (비누, 수세미)

In [5]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (물티슈)
1     0.75            (비누)
2     0.75           (수세미)
3     0.50            (휴지)
4     0.50       (비누, 물티슈)
5     0.50      (수세미, 물티슈)
6     0.50       (물티슈, 휴지)
7     0.75       (비누, 수세미)
8     0.50  (비누, 수세미, 물티슈)