In [33]:
import pandas as pd

In [34]:
# 코로나 데이터 로드

corona_df = pd.read_csv("corona.csv")
corona_df = pd.DataFrame(corona_df)
corona_df

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-12-14 00:42:41.0,31174,27925572,1099,20221214,00:00,NaN,NaN,NaN
1,1,2022-12-13 04:34:20.0,31128,27841001,1098,20221213,00:00,NaN,NaN,NaN
2,2,2022-12-12 00:34:36.0,31099,27754149,1097,20221212,00:00,NaN,NaN,NaN
3,3,2022-12-11 01:10:06.0,31069,27728482,1096,20221211,00:00,NaN,NaN,NaN
4,4,2022-12-10 00:41:17.0,31029,27674163,1095,20221210,00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1054,1054,2020-01-24 00:00:00.000,0,2,5,20200124,00:00,2021-10-07 10:30:51.51,29.0,6.896552
1055,1055,2020-01-23 09:00:00.000,0,1,4,20200123,09:00,2021-10-07 10:30:51.51,25.0,4.000000
1056,1056,2020-01-22 12:00:00.000,0,1,3,20200122,12:00,2021-10-07 10:30:51.51,21.0,4.761905
1057,1057,2020-01-21 09:00:00.000,0,1,2,20200121,09:00,2021-10-07 10:30:51.51,15.0,6.666667
1058,1058,2020-01-20 17:00:00.000,0,1,1,20200120,17:00,2021-10-07 10:30:51.51,4.0,25.000000

In [35]:
# 데이터 프레임에서 컬럼 삭제
# drop() 함수 이용하여 컬럼을 삭제
# drop() 함수는 axis하는 매개변수를 기준으로 행, 열을 삭제한다
# inplace라는 매개변수 기본값이 false >>> true로 변경하면 
# 기준이 되는 데이터 값이 변환

corona_df.drop(["Unnamed: 0"],axis=1, inplace= True)
# corona = corona_df.drop(["Unnamed: 0"], axis=1))
# corona_df = corona_df.drop(["Unnamed: 0"],axis=1)
# 셋 결과가 같음

In [36]:
corona_df

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-12-14 00:42:41.0,31174,27925572,1099,20221214,00:00,NaN,NaN,NaN
1,2022-12-13 04:34:20.0,31128,27841001,1098,20221213,00:00,NaN,NaN,NaN
2,2022-12-12 00:34:36.0,31099,27754149,1097,20221212,00:00,NaN,NaN,NaN
3,2022-12-11 01:10:06.0,31069,27728482,1096,20221211,00:00,NaN,NaN,NaN
4,2022-12-10 00:41:17.0,31029,27674163,1095,20221210,00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1054,2020-01-24 00:00:00.000,0,2,5,20200124,00:00,2021-10-07 10:30:51.51,29.0,6.896552
1055,2020-01-23 09:00:00.000,0,1,4,20200123,09:00,2021-10-07 10:30:51.51,25.0,4.000000
1056,2020-01-22 12:00:00.000,0,1,3,20200122,12:00,2021-10-07 10:30:51.51,21.0,4.761905
1057,2020-01-21 09:00:00.000,0,1,2,20200121,09:00,2021-10-07 10:30:51.51,15.0,6.666667
1058,2020-01-20 17:00:00.000,0,1,1,20200120,17:00,2021-10-07 10:30:51.51,4.0,25.000000

In [37]:
# 컬럼의 이름을 변경
# 데이터 프레임에 있는 컬럼의 값들을 출력하는 방법
# 데이터프레임명.colunms >> 컬럼의 값 산출 
 
corona_df.columns

Index(['createDt', 'deathCnt', 'decideCnt', 'seq', 'stateDt', 'stateTime',
       'updateDt', 'accExamCnt', 'accDefRate'],
      dtype='object')

In [38]:
corona_df.columns  = ["등록일시", "사망자", "확진자", "게시글 번호", 
                "기준일", "기준시간", "수정일시", "누적 의심자", "누적 확진률"]

In [39]:
corona_df.head(6)

,등록일시,사망자,확진자,게시글 번호,기준일,기준시간,수정일시,누적 의심자,누적 확진률
0,2022-12-14 00:42:41.0,31174,27925572,1099,20221214,00:00,NaN,NaN,NaN
1,2022-12-13 04:34:20.0,31128,27841001,1098,20221213,00:00,NaN,NaN,NaN
2,2022-12-12 00:34:36.0,31099,27754149,1097,20221212,00:00,NaN,NaN,NaN
3,2022-12-11 01:10:06.0,31069,27728482,1096,20221211,00:00,NaN,NaN,NaN
4,2022-12-10 00:41:17.0,31029,27674163,1095,20221210,00:00,NaN,NaN,NaN
5,2022-12-09 05:42:28.0,30975,27611425,1094,20221209,00:00,2022-12-10 00:42:22.0,NaN,NaN

In [43]:
# corona_df 데이터 프레임에서 게시글 번호 삭제
# corona_df 라는 변수를 수정
 
# case_1 
# corona_df_1 = corona_df.drop(["게시글 번호"], axis=1)
# case_2 
corona_df.drop(["게시글 번호"], axis=1,inplace=True)

In [44]:
corona_df.head(6)

,등록일시,사망자,확진자,기준일,기준시간,수정일시,누적 의심자,누적 확진률
0,2022-12-14 00:42:41.0,31174,27925572,20221214,00:00,NaN,NaN,NaN
1,2022-12-13 04:34:20.0,31128,27841001,20221213,00:00,NaN,NaN,NaN
2,2022-12-12 00:34:36.0,31099,27754149,20221212,00:00,NaN,NaN,NaN
3,2022-12-11 01:10:06.0,31069,27728482,20221211,00:00,NaN,NaN,NaN
4,2022-12-10 00:41:17.0,31029,27674163,20221210,00:00,NaN,NaN,NaN
5,2022-12-09 05:42:28.0,30975,27611425,20221209,00:00,2022-12-10 00:42:22.0,NaN,NaN

In [46]:
# 데이터 프레임의 정렬 변경

corona_df.sort_values(["등록일시"],inplace=True)

In [47]:
corona_df.head(6)

,등록일시,사망자,확진자,기준일,기준시간,수정일시,누적 의심자,누적 확진률
1058,2020-01-20 17:00:00.000,0,1,20200120,17:00,2021-10-07 10:30:51.51,4.0,25.000000
1057,2020-01-21 09:00:00.000,0,1,20200121,09:00,2021-10-07 10:30:51.51,15.0,6.666667
1056,2020-01-22 12:00:00.000,0,1,20200122,12:00,2021-10-07 10:30:51.51,21.0,4.761905
1055,2020-01-23 09:00:00.000,0,1,20200123,09:00,2021-10-07 10:30:51.51,25.0,4.000000
1054,2020-01-24 00:00:00.000,0,2,20200124,00:00,2021-10-07 10:30:51.51,29.0,6.896552
1053,2020-01-25 00:00:00.000,0,2,20200125,00:00,2021-10-07 10:30:51.51,47.0,4.255319

In [50]:
# 인덱스를 초기화하여 새로운 넘버링 

# corona_df.reset_index().drop("index",axis=1)
corona = corona_df.reset_index(drop=True)
# corona_df.reset_index(drop=True, inplace = true)

In [51]:
corona.tail(6)

,등록일시,사망자,확진자,기준일,기준시간,수정일시,누적 의심자,누적 확진률
1053,2022-12-09 05:42:28.0,30975,27611425,20221209,00:00,2022-12-10 00:42:22.0,NaN,NaN
1054,2022-12-10 00:41:17.0,31029,27674163,20221210,00:00,NaN,NaN,NaN
1055,2022-12-11 01:10:06.0,31069,27728482,20221211,00:00,NaN,NaN,NaN
1056,2022-12-12 00:34:36.0,31099,27754149,20221212,00:00,NaN,NaN,NaN
1057,2022-12-13 04:34:20.0,31128,27841001,20221213,00:00,NaN,NaN,NaN
1058,2022-12-14 00:42:41.0,31174,27925572,20221214,00:00,NaN,NaN,NaN

In [60]:
# 데이터간의 차이를 나타내는 함수 
# diff()
# corona["확진자"].diff()

# corona 데이터프레임에 새로운 파생변수 (일일 확진자)추가
corona["일일 확진자"] = corona["확진자"].diff()

In [62]:
corona.head(6)

,등록일시,사망자,확진자,기준일,기준시간,수정일시,누적 의심자,누적 확진률,일일 확진자
0,2020-01-20 17:00:00.000,0,1,20200120,17:00,2021-10-07 10:30:51.51,4.0,25.000000,NaN
1,2020-01-21 09:00:00.000,0,1,20200121,09:00,2021-10-07 10:30:51.51,15.0,6.666667,0.0
2,2020-01-22 12:00:00.000,0,1,20200122,12:00,2021-10-07 10:30:51.51,21.0,4.761905,0.0
3,2020-01-23 09:00:00.000,0,1,20200123,09:00,2021-10-07 10:30:51.51,25.0,4.000000,0.0
4,2020-01-24 00:00:00.000,0,2,20200124,00:00,2021-10-07 10:30:51.51,29.0,6.896552,1.0
5,2020-01-25 00:00:00.000,0,2,20200125,00:00,2021-10-07 10:30:51.51,47.0,4.255319,0.0

In [63]:
# 새로운 파생변수 일일 사망자 추가 
# 누적 의심자, 누적 확진률 삭제 (corona 데이터 프레임 변경)

corona["일일 사망자"] = corona["사망자"].diff()

corona = corona.drop(["누적 의심자"],axis=1)
corona = corona.drop(["누적 확진률"],axis=1)

# corona.drop(["누적 의심자,"누적 확진률"],axis=1, inplace = true)

In [65]:
corona.head(6)

,등록일시,사망자,확진자,기준일,기준시간,수정일시,일일 확진자,일일 사망자
0,2020-01-20 17:00:00.000,0,1,20200120,17:00,2021-10-07 10:30:51.51,NaN,NaN
1,2020-01-21 09:00:00.000,0,1,20200121,09:00,2021-10-07 10:30:51.51,0.0,0.0
2,2020-01-22 12:00:00.000,0,1,20200122,12:00,2021-10-07 10:30:51.51,0.0,0.0
3,2020-01-23 09:00:00.000,0,1,20200123,09:00,2021-10-07 10:30:51.51,0.0,0.0
4,2020-01-24 00:00:00.000,0,2,20200124,00:00,2021-10-07 10:30:51.51,1.0,0.0
5,2020-01-25 00:00:00.000,0,2,20200125,00:00,2021-10-07 10:30:51.51,0.0,0.0